<h1>Mi lista de tareas</h1>

<div class="formulario">
  <input type="text" #inputTitulo placeholder="Ingrese el titulo de la tarea">
  <input type="text" #inputDesc placeholder="Añade la descripción">
  <button (click)="agregarTarea(inputTitulo.value, inputDesc.value); inputTitulo.value = ''; inputDesc.value = ''"
  >Agregar Tarea</button>
</div>

<ul>
 @for (tarea of tareas; track tarea.id) {
<li [class.completada] = "tarea.completada">
  <div (click)="alternarTarea(tarea)" style="cursor: pointer; flex-grow: 1;">
    <strong style="display: block;">{{tarea.titulo}}</strong>
    <small style = "color: #666;">{{tarea.descripcion}}</small>
  </div>
<button class="btn-eliminar" (click)="borrarTareas(tarea.id)">Eliminar Tarea</button>
    </li>
  } @empty {
    <li>No hay tareas pendientes</li>
  }
</ul>